# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
*.env

# Model artifacts
*.joblib

# Dataset artifacts
*.csv:Zone.Identifier

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store
